<!DOCTYPE html>
<html>

<head>
    <title>b00b</title>
    <meta charset="UTF-8">
    <meta name="description" content="b00b">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>

<body>
 
        <div class="header">
            <div class="container">
                <h1><img src="{{ url_for('static',filename='a.png') }}" /></h1>
            </div>
        </div>
        <div class="container">
            <div class="content">
                <h2>b00b:b00b:b00b:b00b:b00b:b00b</h2>
                <p><a href="https://discord.gg/ipv6" 
target=“_blank">https://discord.gg/ipv6</a></p>
<p><a href="https://domi.network" 
target=“_blank">Request served by AS210645</a></p>
                <p>Node <a href=https://bgp.tools/as/210645 target=“_blank">Amsterdam, Netherlands</a></p>
            </div>
        </div>
        <div class="footer">Copyleft <span class="copyleft">&copy;</span> dominet LLC. No rights reserved.</div>
</body>

</html>
